@import 'styles.css';

.top_menu {
    background-color: #302428;
    width: 100%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .title {
    text-align: center;
    color: palegoldenrod;
    font-size: 20px;
    font-family: 'DungeonFont', sans-serif
}
