#messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 68%;
    overflow-y: scroll;
}

#messages::-webkit-scrollbar {
    border-radius: 8px;
}
#messages::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: linear-gradient(hsl(46, 100%, 20%), hsl(145, 100%, 20%));
    filter: brightness(0.9);

}

/* Small screens */
@media (max-width: 600px) {
    #messages {
        --scrollbar-width: 8px; /* Set a smaller scrollbar width for small screens */
    }
}

/* Medium screens */
@media (min-width: 601px) and (max-width: 1200px) {
    #messages {
        --scrollbar-width: 10px; /* Set a medium scrollbar width for medium screens */
    }
}

/* Large screens */
@media (min-width: 1201px) {
    #messages {
        --scrollbar-width: 15px; /* Set a larger scrollbar width for large screens */
    }
}

