html {
    overflow: auto;
}
body {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    overflow: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.background-image {
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
}
.scrollable {
    position: inherit;
}

@font-face {
    font-family: 'DungeonFont';
    src: url('DragonHunter.otf') format('opentype');

}