.title-block {
    display: flex;              /* Enable flexbox */
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #343a40;
    font-weight: 500;
    color: #fff;
    /*padding: 2.5% 0;*/
    height: 10%;
    padding: 0.5rem;
    margin: 0;
}
